button.btn-success {
  padding: 0%;
  width: 7rem;
  background-color: #4496ae;
  border: none;
  margin-top: 8px;
  font-size: 0.9rem;
  height: 1.6rem;
  border-radius: 0.5rem;
}

nav {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    margin-right: 3rem;
  }
}

a.nav-link {
  margin-right: 1rem;
}

div.formwrapper {
  border-radius: 20px;
}

div.inputfield {
  margin-top: 1em;
}
