h3.blogHeader {
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
  color: #586c91;
  font-weight: bold;
}

div.blogcontainer {
  text-align: -webkit-center;
}

div.btnrow {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

div.blogCard {
  width: 20em !important;
  border-radius: 15px;
  margin-left: 1em;
}

#blogWrapper {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

div.blogwrap {
  display: flex;
  justify-content: center;
}

button.gotoBlog {
  color: white;
  background-color: #4496ae;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  width: 9em;
}

@media screen and (max-width: 1000px) {
  div.blogwrap {
    display: block;
  }

  div.blogCard {
    margin-bottom: 1em;
  }
}
