@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

.jumbotron {
  position: relative;
  background-image: url("../images/overlay.jpg");
  background-position: 0px -140px;
  background-size: 100%;
  height: 23rem;
}

button.danger.btn.btn-secondary {
  color: white;
  background-color: #4496ae;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cont {
  text-align: center;
}

div.input-group {
  display: inline-flex;
  border-radius: 2rem;
  width: 380px;
  border: 10px solid rgb(255, 255, 255, 0.5);
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

input.form-control-lg.form-control {
  display: initial;
}

.jumbotron-fluid {
  background-color: black;
}

p.display-3 {
  font-size: 30px;
  color: white;
  font-family: "Roboto Slab", serif;
}

p.lead {
  color: white;
  font-family: "Roboto Slab", serif;
}
