@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");

.jumbotron {
  position: relative;
  background-image: url("../images/overlay.jpg");
  background-position: center;
  background-size: cover;
  height: 32rem;
  background-repeat: no-repeat;
  margin-bottom: 0em;
}

div.jumbotron-fluid {
  margin-bottom: 0;
}

button.danger.btn.btn-secondary {
  color: white;
  background-color: #4496ae;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

.cont {
  text-align: center;
}

div.input-group {
  display: inline-flex;
  border-radius: 2rem;
  width: 37rem;
  border: 10px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 3em;
}

input.vetsearch.form-control {
  display: initial;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.jumbotron-fluid {
  background-color: black;
}

p.display-3 {
  font-size: 50px;
  font-weight: bold;
  color: white;
  font-family: "Roboto Slab", serif;
  margin-top: 4rem;
}

p.lead {
  color: white;
  font-family: "Roboto Slab", serif;
}

@media screen and (max-width: 750px) {
  div.input-group {
    display: flex;
    background-color: rgba(255, 255, 255, 0.35);
    text-align: center;
    width: 25em;
    display: flex;
    padding: 2em;
    border: none;
    margin-left: 40px;
  }

  button.danger.btn.btn-secondary {
    color: white;
    background-color: #4496ae;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 21em;
    border-radius: 5px;
    margin-top: 1em;
  }

  input.vetsearch.form-control {
    width: 30em;
    border-radius: 5px;
  }
}
