@import "../~slick-carousel/slick/slick.css";
@import "../~slick-carousel/slick/slick-theme.css";

h2.newvets {
  font-family: "Roboto Slab", serif;
  text-align: center;
  padding-top: 2em;
  color: #586c91;
  font-weight: bold;
  background-color: #f9f9f9;
}
.slick-next:before {
  color: #586c91;
  font-size: 40px;
}

.slick-prev:before {
  color: #586c91;
  font-size: 40px;
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
  width: 2em;
  background: #4496ae;
}
.slick-next {
  right: 5% !important;
  z-index: 1;
  width: 2em;
  background: #4496ae;
}
img.placeholder {
  width: 15em;
}

div.sliderWrapper {
  display: flex !important;
  width: 100%;
  justify-content: center !important;
}

div.vetscarousel.card {
  width: 15em !important;
  margin-left: 1em;
}
